
= link_to root_path do
  #mainDiv
    #boxDiv.a-flip
      #box-front
        %img(src="https://s3.amazonaws.com/shipspec/icon-front.png")
      #box-back
        %img(src="https://s3.amazonaws.com/shipspec/icon-back.png")
        #camera-loggin-buttons{ :style => "position: absolute; top: 150px; height:110px; background-color:white; padding-top:5px;" }
          = link_to omniauth_authorize_path(resource_name, 'facebook') do
            %i.fab.fa-facebook-square.fa-7x
          = link_to new_user_registration_path do
            %i.fas.fa-envelope.fa-7x
      #box-left
        %img(src="https://s3.amazonaws.com/shipspec/icon-left.png")
      #box-right
        %img(src="https://s3.amazonaws.com/shipspec/icon-right.png")
      #box-top
      #box-bottom

/ .container
/   .row
/     .profile.center
/       = panel title: 'Log in', context: :primary do
/         = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, boolean: :horizontal_boolean } ) do |f|
/           .panel-body
/             = f.error_notification

/             = f.input :email, required: true, autofocus: true
/             = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
/             = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
/           .panel-footer
/             .buttons
/               = f.button :submit, "Log in", class: "btn-primary"

/             .links
/               = render "devise/shared/links"

#email_form.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %i.fas.fa-envelope.fa-2x.modal-title

      .modal-body
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, boolean: :horizontal_boolean } ) do |f|
          .panel-body
            = f.error_notification

            = f.input :email, required: true, autofocus: true
            = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
            = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
          .panel-footer
            .buttons
              = f.button :submit, "Sign in", class: "btn-primary"
