/ = navbar position: :static do
/   = vertical do
/     = link_to root_path do
/       SHIPSPEC | PROTECT
/   = horizontal do
/     = nav class: 'navbar-right' do
/       = render partial: "application/account_dropdown"

%header.slideup.affix-top{ data: { spy: "affix", "offset-top": 10 } }
  = navbar id: "navbar", fluid: true, position: :top, padding: 0 do
    = vertical do
      = link_to root_path do
        SHIPSPEC | PROTECT
    = horizontal do
      = nav class: 'navbar-right' do
        -if user_signed_in?
          =link_to edit_user_registration_path do
            - if current_user.image
              = image_tag current_user.image, class: 'user_avatar'
            - else
              = current_user.name
