= navbar position: :static do
  = vertical do
    = link_to root_path do
      SHIPSPEC | PROTECT
  = horizontal do
    = nav class: 'navbar-right' do
      = render partial: "application/account_dropdown"
