/ = navbar position: :static do
/   = vertical do
/     = link_to root_path do
/       SHIPSPEC | PROTECT
/   = horizontal do
/     = nav class: 'navbar-right' do
/       = render partial: "application/account_dropdown"

%header.slideup.affix-top{ data: { spy: "affix", "offset-top": 10 } }
  = navbar id: "navbar", fluid: true, position: :top, padding: 0 do
    = vertical do
      = link_to root_path do
        =image_tag "https://s3.amazonaws.com/shipspec/shipspec-small-trans-logo.png"
    = horizontal do
      = nav class: 'navbar-right' do
        -if user_signed_in?
          =link_to edit_user_registration_path do
            - if current_user.image
              .avatar-ring.flex
                = image_tag current_user.image, class: 'user_avatar'
            - else
              .avatar-ring.flex
                %i.far.fa-user-circle.fa-3x

