!!! 5
%html.no-js
  = render 'head'
  %body.splash#top{ :class => "#{ controller.controller_name }", :data => { spy: "scroll", target: "#navbar"} }
    = render 'chromeframe'
    #flash-area
      = render 'flashes'
    = render 'header'
  
    = yield

    = render 'footer'

    -# Javascript at the bottom for fast page loading
    = render 'javascripts'


